<%- include('../partials/header') %>

<form action="" method="POST">
    <h1 style="font-size: 50px">Change Password</h1>
    <% if(info.length > 0) { %>
        <div class="alert alert-primary" role="alert">
          
          <%= info %>
        </div>
        <% } %>
    <br>
<div class="mb-3 row">
    <label for="password" class="col-sm-2 col-form-label"> Old Password</label>
    <div class="col-sm-10">
      <input
        type="password"
       
        class="form-control"
        id="password"
        name="password"
        placeholder="password"
      />
    </div>
  </div>

  <div class="mb-3 row">
    <label for="password" class="col-sm-2 col-form-label"> New Password</label>
    <div class="col-sm-10">
      <input
        type="password"
       
        class="form-control"
        id="password"
        name="password1"
        placeholder="password"
      />
    </div>
  </div>

  <div class="mb-3 row">
    <label for="password" class="col-sm-2 col-form-label">Confirm Password</label>
    <div class="col-sm-10">
      <input
        type="password"
       
        class="form-control"
        id="password"
        name="password2"
        placeholder="password"
      />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Update
</button>

<a class="btn btn-warning" href="/profile">Back</a>

</form>

<%- include('../partials/footer') %>